
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <title>Users</title>


</head>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-primary" href="@Url.Action("Add")" style="float:right ; width: 225px; display: inline-block; overflow: auto; white-space: nowrap; margin: 0px auto; border: 1px red solid;"> Create</a>
                <h3 class="box-title">Adv List</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>password</th>
                            <th>email</th>
                            <th>age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var users in ViewBag.users)
                        {
                            <tr>
                                <td>@users.Username</td>
                                <td>@users.Password</td>
                                <td>@users.Email</td>
                                <td>@users.Age</td>
                                <td>
                                    <a class="btn btn-success" href="@Url.Action("Edit", "Users", new {id=users.Id})"><i class="fa fa-fw fa-edit"></i>Guncelle | </a>

                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Users", new {id=users.Id})"
                                       onclick="return confirm('Eminmisiniz ? ')"><i class="fa fa-fw fa-trash-o"></i> Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.min.js" defer></script>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({

            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'print',
                    title: 'User',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excel',
                    title: 'User',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'User',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                //{
                //    extend: 'pdf',
                //    exportOptions: {
                //        columns: [0, 1, 2, 5]
                //    }
                //},
                'colvis'
            ]

        });
    });

</script>





